h1,
h2,
p {
  font-weight: 400;
}

p {
  line-height: 1.5;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

h2 {
  font-size: 1rem;
}

ol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}
button,
input {
  box-sizing: border-box;
  height: 2rem;
  border-radius: 1rem;
  border: 2px solid red;
  background-color: grey;
  outline: none;
  width: 10rem;
  text-align: center;
}

.controls {
  visibility: hidden;
}
li:hover > .controls {
  visibility: visible;
}
